@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

$font-primary: "DM Sans", sans-serif;
$font-heading: "DM Serif Display", serif;

$primary-color: #1b1642;
$secondary-color: #f3f8ff;
$text-color: #575a7b;
$button-accent-color: #6658ea;
$highlight-color: #ffc267;
$white-color: #fff;

$logo-size: 24px;

$heading-large: 82px;
$heading-medium: 64px;
$heading-small: 48px;
$sub-heading: 20px;

$text-large: 20px;
$text-medium: 18px;
$text-regular: 16px;
$text-small: 14px;

@mixin wrapper {
  max-width: 1920px;
  width: 100%;
  margin-inline: auto;
}
@mixin btn {
  --bs-btn-color: #{$white-color};
  --bs-btn-bg: #{$button-accent-color};
  --bs-btn-border-color: #{$button-accent-color};
  --bs-btn-hover-color: #{$white-color};
  --bs-btn-hover-bg: #4632c1; // Set an explicit dark color
  --bs-btn-hover-border-color: #3d2aaa;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #{$white-color};
  --bs-btn-active-bg: #32208e; // Another explicit color for active state
  --bs-btn-active-border-color: #2a1b7e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #{$white-color};
  --bs-btn-disabled-bg: #{$button-accent-color};
  --bs-btn-disabled-border-color: #{$button-accent-color};
  font-weight: 500;
  font-size: 18px;
  border-radius: 8px 0;
  box-shadow: 0px 14px 24px 0px #1b16420f, 0px 0px 6px 0px #00000008;
  letter-spacing: -0.18px;
}
@mixin custom-underline($color, $thickness, $offset, $opacity) {
  position: relative;
  text-decoration: none;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: $offset;
    width: 100%;
    height: $thickness;
    background-color: rgba($color, $opacity);
    z-index: -1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
}
.logo,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
}
.header {
  background-color: $secondary-color;
  .custom-border {
    height: 5px;
    background: linear-gradient(
      to right,
      $text-color 20%,
      #f9655b 20% 40%,
      $highlight-color 40% 60%,
      $button-accent-color 60% 80%,
      #ffcccc 80% 100%
    );
  }
  nav {
    padding-block: 32px 20px !important;
    .mobile-logo {
      font-size: $logo-size;
      cursor: pointer;
      color: $primary-color;
    }
    .navbar-nav {
      column-gap: 60px;
      row-gap: 20px;
      .nav-link {
        font-size: $text-medium;
        color: $primary-color;
      }
      .logo {
        font-size: $logo-size;
        cursor: pointer;
        color: $primary-color;
      }
    }
  }
}
.hero-full-width-background {
  background-color: $secondary-color;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 81.1%, 0% 100%);
  .hero-section {
    @include wrapper();
    background-color: $secondary-color;
    padding: 95px 0 330px 142px;
    .hero-content {
      padding-block: 144px 53px;
      h1 {
        max-width: 478px;
        width: 100%;
        font-size: $heading-medium;
        color: $primary-color;
        span {
          color: $button-accent-color;
        }
      }
      p {
        max-width: 448px;
        width: 100%;
        font-size: $text-large;
        line-height: 32px;
        margin-top: 18px;
      }
      .btn-container {
        margin-top: 36px;
        gap: 18px;
      }
      .btn-primary {
        @include btn();
        padding: 15.5px 28px;
      }
      .btn-outline-primary {
        --bs-btn-color: #{$button-accent-color};
        --bs-btn-border-color: #{$button-accent-color};
        --bs-btn-hover-color: #{$white-color};
        --bs-btn-hover-bg: #{$button-accent-color};
        --bs-btn-hover-border-color: #{$button-accent-color};
        --bs-btn-focus-shadow-rgb: #{red($button-accent-color)},
          #{green($button-accent-color)}, #{blue($button-accent-color)};
        --bs-btn-active-color: #{$white-color};
        --bs-btn-active-bg: #{$button-accent-color};
        --bs-btn-active-border-color: #{$button-accent-color};
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #{$button-accent-color};
        --bs-btn-disabled-bg: transparent;
        --bs-btn-disabled-border-color: #{$button-accent-color};
        --bs-gradient: none;
        font-weight: 500;
        font-size: 18px;
        border-radius: 8px 0;
        box-shadow: 0px 14px 24px 0px #1b16420f, 0px 0px 6px 0px #00000008;
        letter-spacing: -0.18px;
        padding: 15.5px 28px;
      }
    }
    .hero-background {
      top: 95px;
      right: 0;
      max-width: 975px;
    }
  }
}
.invest-section {
  @include wrapper();
  padding-top: 229px;
  margin-top: -330px;
  .revenue-card-section {
    margin-left: 160px;
    max-width: 448px;
    width: 100%;
    .revenue-card {
      border-top: 3px solid #7085f5;
      background-color: $white-color;
      box-shadow: 0px 44px 74px 0px #1a15470f, 0px 0px 24px 0px #0000000a;
      .value {
        color: $primary-color;
        font-size: $heading-small;
        letter-spacing: -0.48px;
        line-height: 51.36px;
      }
      .sub-head {
        font-size: $text-medium;
        color: $text-color;
        line-height: 28.8px;
      }
      .annual-revenue,
      .losses {
        border-bottom: 1px solid #eaf2fe;
        margin-inline: 44px 42px;
        .sub-head {
          padding-bottom: 23px;
        }
      }
      .annual-revenue {
        padding-top: 50px;
      }
      .losses {
        padding-top: 32px;
      }
      .losses-using-goodkit {
        padding: 27px 60px 50px 44px;
        .value {
          color: #2cd4a2;
        }
      }
    }
    .plus-bg-element {
      top: -47px;
      left: -51px;
    }
  }
  .invest-content {
    padding: 73px 140px 35px 220px;
    h2 {
      max-width: 430px;
      width: 100%;
      font-size: $heading-small;
      line-height: 51.84px;
      span {
        @include custom-underline($highlight-color, 11px, 11px, 0.4);
      }
    }
    p {
      max-width: 434px;
      width: 100%;
      color: $text-color;
      line-height: 28.8px;
      font-size: $text-medium;
      margin-top: 18px;
    }
    .list-group {
      gap: 50px;
      margin-top: 32px;
      ul {
        padding-left: 22px;
        list-style-image: url("/assets/images/icons/list-style.svg");
      }
      li {
        font-size: $text-medium;
        color: $text-color;
        padding-left: 15px;
      }
      li:nth-child(2) {
        padding-top: 15px;
      }
    }
  }
}
.try-section {
  @include wrapper();
  .try-content {
    padding: 216px 351px 272px 345px;
    .sub-head {
      font-size: $text-small;
      letter-spacing: 2.52px;
      color: $button-accent-color;
      padding-bottom: 8px;
    }
    h2 {
      font-size: $heading-large;
      color: $primary-color;
      padding-bottom: 14px;
    }
    .content {
      font-size: $text-medium;
      color: $primary-color;
      max-width: 558px;
      padding-bottom: 36px;
    }
    .btn-primary {
      @include btn();
      padding: 12.5px 28px;
    }
  }
}
.custom-border {
  height: 5px;
  background: linear-gradient(
    to right,
    $text-color 20%,
    #f9655b 20% 40%,
    $highlight-color 40% 60%,
    $button-accent-color 60% 80%,
    #ffcccc 80% 100%
  );
}
.footer-full-width-background {
  background-color: $primary-color;
  width: 100%;
  footer {
    @include wrapper();
    .footer-bg-element {
      top: -184px;
      right: 0;
    }
    padding: 101px 208px 129px 166px;
    background-color: $primary-color;
    color: $white-color;
    .company-details {
      h2 {
        font-size: $logo-size;
      }
      p {
        font-size: $text-medium;
        opacity: 0.6;
      }
    }
    .foot-links {
      .products {
        padding-left: 84px;
      }
      .services-1 {
        padding-left: 104px;
      }
      .connect {
        padding-left: 84px;
      }
      ul {
        list-style-type: none;
        .head {
          font-size: $text-small;
          opacity: 1;
          padding-bottom: 23px;
        }
        li {
          font-size: $text-medium;
          opacity: 0.6;
          cursor: pointer;
          padding-bottom: 16px;
        }
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  .hero-full-width-background {
    .hero-section {
      padding: 80px 0 285px 110px;
      .hero-content {
        padding-block: 110px 40px;
        h1 {
          font-size: 56px;
        }
        p {
          max-width: 406px;
          font-size: $text-medium;
          line-height: 30px;
        }
        .btn-container {
          margin-top: 31px;
          .btn {
            font-size: 16px;
          }
        }
      }
      .hero-background {
        max-width: 830px;
      }
    }
  }
  .invest-section {
    margin-top: -300px;
    .invest-content {
      padding: 55px 65px 35px 134px;
      h2 {
        font-size: 44px;
        max-width: 384px;
      }
      .list-group {
        gap: 45px;
      }
    }
    .revenue-card-section {
      margin-left: 120px;
      .revenue-card {
        .value {
          font-size: 44px;
        }
      }
    }
  }
  .try-section {
    .try-content {
      padding: 180px 290px 230px 290px;
    }
  }
  .footer-full-width-background {
    footer {
      padding: 80px 180px 110px 140px;
      .foot-links {
        .products {
          padding-left: 70px;
        }
        .services-1 {
          padding-left: 90px;
        }
        .connect {
          padding-left: 70px;
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .hero-full-width-background {
    .hero-section {
      padding: 80px 0 250px 70px;
      .hero-content {
        padding-block: 85px 40px;
        h1 {
          max-width: 442px;
          font-size: $heading-small;
        }
        .btn-container {
          margin-top: 25px;
          .btn {
            padding: 10.5px 25px;
          }
        }
      }
      .hero-background {
        max-width: 720px;
      }
    }
  }
  .invest-section {
    .revenue-card-section {
      margin-left: 100px;
      max-width: 400px;
      width: 100%;
      .revenue-card {
        .value {
          font-size: 40px;
        }
        .annual-revenue {
          padding-top: 40px;
        }
        .annual-revenue,
        .losses {
          margin-inline: 40px 38px;
          .sub-head {
            padding-bottom: 18px;
          }
        }
        .losses-using-goodkit {
          padding: 27px 60px 40px 40px;
        }
      }
    }
    .invest-content {
      padding: 50px 50px 22px 60px;
      h2 {
        font-size: 40px;
      }
    }
  }
  .try-section {
    .try-content {
      padding: 150px 234px 200px 234px;
    }
  }
  .footer-full-width-background {
    footer {
      padding: 70px 100px 100px 90px;
      .foot-links {
        .products {
          padding-left: 60px;
        }
        .services-1 {
          padding-left: 60px;
        }
        .connect {
          padding-left: 60px;
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .hero-full-width-background {
    clip-path: polygon(0 0, 100% 0, 100% 93%, 0% 100%);
    .hero-section {
      padding: 0 0 300px;
      .hero-content {
        margin-inline: auto;
        padding: 50px 0 0;
        h1 {
          text-align: center;
          span {
            @include custom-underline($button-accent-color, 7px, 12px, 0.2);
          }
        }
        p {
          text-align: center;
        }
      }
    }
  }
  .invest-section {
    margin-top: -250px;
    padding-top: 100px;
    align-items: center;
    .revenue-card-section {
      margin-left: 0;
      margin-inline: auto;
      .revenue-card {
        .plus-bg-element {
          left: 0;
          transform: translateX(22%);
        }
      }
    }
    .invest-content {
      padding: 0;
      margin-inline: auto;
      max-width: 350px;
      width: 100%;
      padding-top: 50px;
      .list-group {
        gap: 40px;
      }
    }
  }
  .try-section {
    .try-content {
      padding: 130px 200px 200px 190px;
      h2 {
        font-size: $heading-small;
      }
      .content {
        max-width: 352px;
        width: 100%;
      }
    }
  }
  .header {
    nav {
      padding-block: 15px !important;
      .navbar-nav {
        padding-block: 25px;
      }
    }
  }
  .footer-full-width-background {
    footer {
      row-gap: 30px;
    }
  }
}
@media screen and (max-width: 768px) {
  .try-section {
    .try-content {
      padding: 100px 105px 200px 105px;
    }
  }
  .footer-full-width-background {
    footer {
      padding: 70px 24px;
      .foot-links {
        ul {
          li {
            font-size: $text-regular;
          }
        }
        .products,
        .services-1,
        .connect {
          padding-left: 55px;
        }
      }
    }
  }
}
@media screen and (max-width: 568px) {
  .hero-full-width-background {
    .hero-section {
      padding: 0 0 250px;
      .hero-content {
        h1 {
          font-size: 40px;
          padding-inline: 16px;
        }
        p {
          padding-inline: 21px 29px;
          margin-top: 13px;
        }
        .btn-container {
          padding-inline: 14px;
          flex-wrap: wrap;
        }
      }
    }
  }
  .invest-section {
    margin-top: -175px;
    .revenue-card-section {
      padding-inline: 24px;
      max-width: 399px;
      width: 100%;
      .revenue-card {
        .value {
          font-size: 36px;
        }
        .annual-revenue,
        .losses {
          .sub-head {
            padding-bottom: 17px;
          }
        }
        .annual-revenue {
          padding-top: 38px;
        }
        .losses-using-goodkit {
          padding-bottom: 38px;
        }
        .plus-bg-element {
          top: -30px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    .invest-content {
      padding-inline: 27px 24px;
      max-width: 398px;
      width: 100%;
      h2 {
        font-size: 36px;
      }
      .list-group {
        gap: 39px;
        flex-wrap: wrap;
        row-gap: 15px;
        ul {
          li:nth-child(2) {
            padding-top: 15px;
          }
        }
      }
    }
  }
  .try-section {
    .try-content {
      padding: 100px 22px 322px 24px;
    }
  }
  .footer-full-width-background {
    footer {
      .footer-bg-element {
        display: none !important;
      }
      .footer-mobile-bg-element {
        display: block !important;
        top: -161px;
        right: 0;
      }
      .footer-mobile-pattern {
        display: block !important;
        top: -231px;
        right: 49px;
      }
      width: 100%;
      .foot-links {
        justify-content: start;
        flex-wrap: wrap;
        column-gap: 25px;
        row-gap: 10px;
        .products,
        .services-1,
        .connect {
          padding-left: 0;
        }
      }
    }
  }
}
