@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

.logo,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
}

.header {
  background-color: #f3f8ff;
}
.header .custom-border {
  height: 5px;
  background: linear-gradient(to right, #575a7b 20%, #f9655b 20% 40%, #ffc267 40% 60%, #6658ea 60% 80%, #ffcccc 80% 100%);
}
.header nav {
  padding-block: 32px 20px !important;
}
.header nav .mobile-logo {
  font-size: 24px;
  cursor: pointer;
  color: #1b1642;
}
.header nav .navbar-nav {
  -moz-column-gap: 60px;
       column-gap: 60px;
  row-gap: 20px;
}
.header nav .navbar-nav .nav-link {
  font-size: 18px;
  color: #1b1642;
}
.header nav .navbar-nav .logo {
  font-size: 24px;
  cursor: pointer;
  color: #1b1642;
}

.hero-full-width-background {
  background-color: #f3f8ff;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 81.1%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 81.1%, 0% 100%);
}
.hero-full-width-background .hero-section {
  max-width: 1920px;
  width: 100%;
  margin-inline: auto;
  background-color: #f3f8ff;
  padding: 95px 0 330px 142px;
}
.hero-full-width-background .hero-section .hero-content {
  padding-block: 144px 53px;
}
.hero-full-width-background .hero-section .hero-content h1 {
  max-width: 478px;
  width: 100%;
  font-size: 64px;
  color: #1b1642;
}
.hero-full-width-background .hero-section .hero-content h1 span {
  color: #6658ea;
}
.hero-full-width-background .hero-section .hero-content p {
  max-width: 448px;
  width: 100%;
  font-size: 20px;
  line-height: 32px;
  margin-top: 18px;
}
.hero-full-width-background .hero-section .hero-content .btn-container {
  margin-top: 36px;
  gap: 18px;
}
.hero-full-width-background .hero-section .hero-content .btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #6658ea;
  --bs-btn-border-color: #6658ea;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4632c1;
  --bs-btn-hover-border-color: #3d2aaa;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #32208e;
  --bs-btn-active-border-color: #2a1b7e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6658ea;
  --bs-btn-disabled-border-color: #6658ea;
  font-weight: 500;
  font-size: 18px;
  border-radius: 8px 0;
  box-shadow: 0px 14px 24px 0px rgba(27, 22, 66, 0.0588235294), 0px 0px 6px 0px rgba(0, 0, 0, 0.031372549);
  letter-spacing: -0.18px;
  padding: 15.5px 28px;
}
.hero-full-width-background .hero-section .hero-content .btn-outline-primary {
  --bs-btn-color: #6658ea;
  --bs-btn-border-color: #6658ea;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6658ea;
  --bs-btn-hover-border-color: #6658ea;
  --bs-btn-focus-shadow-rgb: 102,
    88, 234;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6658ea;
  --bs-btn-active-border-color: #6658ea;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #6658ea;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6658ea;
  --bs-gradient: none;
  font-weight: 500;
  font-size: 18px;
  border-radius: 8px 0;
  box-shadow: 0px 14px 24px 0px rgba(27, 22, 66, 0.0588235294), 0px 0px 6px 0px rgba(0, 0, 0, 0.031372549);
  letter-spacing: -0.18px;
  padding: 15.5px 28px;
}
.hero-full-width-background .hero-section .hero-background {
  top: 95px;
  right: 0;
  max-width: 975px;
}

.invest-section {
  max-width: 1920px;
  width: 100%;
  margin-inline: auto;
  padding-top: 229px;
  margin-top: -330px;
}
.invest-section .revenue-card-section {
  margin-left: 160px;
  max-width: 448px;
  width: 100%;
}
.invest-section .revenue-card-section .revenue-card {
  border-top: 3px solid #7085f5;
  background-color: #fff;
  box-shadow: 0px 44px 74px 0px rgba(26, 21, 71, 0.0588235294), 0px 0px 24px 0px rgba(0, 0, 0, 0.0392156863);
}
.invest-section .revenue-card-section .revenue-card .value {
  color: #1b1642;
  font-size: 48px;
  letter-spacing: -0.48px;
  line-height: 51.36px;
}
.invest-section .revenue-card-section .revenue-card .sub-head {
  font-size: 18px;
  color: #575a7b;
  line-height: 28.8px;
}
.invest-section .revenue-card-section .revenue-card .annual-revenue,
.invest-section .revenue-card-section .revenue-card .losses {
  border-bottom: 1px solid #eaf2fe;
  margin-inline: 44px 42px;
}
.invest-section .revenue-card-section .revenue-card .annual-revenue .sub-head,
.invest-section .revenue-card-section .revenue-card .losses .sub-head {
  padding-bottom: 23px;
}
.invest-section .revenue-card-section .revenue-card .annual-revenue {
  padding-top: 50px;
}
.invest-section .revenue-card-section .revenue-card .losses {
  padding-top: 32px;
}
.invest-section .revenue-card-section .revenue-card .losses-using-goodkit {
  padding: 27px 60px 50px 44px;
}
.invest-section .revenue-card-section .revenue-card .losses-using-goodkit .value {
  color: #2cd4a2;
}
.invest-section .revenue-card-section .plus-bg-element {
  top: -47px;
  left: -51px;
}
.invest-section .invest-content {
  padding: 73px 140px 35px 220px;
}
.invest-section .invest-content h2 {
  max-width: 430px;
  width: 100%;
  font-size: 48px;
  line-height: 51.84px;
}
.invest-section .invest-content h2 span {
  position: relative;
  text-decoration: none;
}
.invest-section .invest-content h2 span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 11px;
  width: 100%;
  height: 11px;
  background-color: rgba(255, 194, 103, 0.4);
  z-index: -1;
}
.invest-section .invest-content p {
  max-width: 434px;
  width: 100%;
  color: #575a7b;
  line-height: 28.8px;
  font-size: 18px;
  margin-top: 18px;
}
.invest-section .invest-content .list-group {
  gap: 50px;
  margin-top: 32px;
}
.invest-section .invest-content .list-group ul {
  padding-left: 22px;
  list-style-image: url("/assets/images/icons/list-style.svg");
}
.invest-section .invest-content .list-group li {
  font-size: 18px;
  color: #575a7b;
  padding-left: 15px;
}
.invest-section .invest-content .list-group li:nth-child(2) {
  padding-top: 15px;
}

.pricing-section {
  margin-inline: 173px 115px;
}
.pricing-section .pricing-head {
  margin-top: 169px;
}
.pricing-section .pricing-head hr {
  max-width: 71px;
  width: 100%;
  border: 5px solid #ffc267;
}
.pricing-section .pricing-head h2 {
  margin-top: 82px;
  font-size: 64px;
  line-height: 108%;
}
.pricing-section .pricing-head h2 span {
  position: relative;
  text-decoration: none;
}
.pricing-section .pricing-head h2 span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 16px;
  width: 100%;
  height: 10px;
  background-color: rgba(102, 88, 234, 0.2);
  z-index: -1;
}
.pricing-section .pricing-head p {
  margin-top: 13px;
  max-width: 558px;
  width: 100%;
  font-size: 18px;
  line-height: 160%;
}
.pricing-section .pricing-plans {
  max-width: 1152px;
  margin-top: 77px;
}
.pricing-section .pricing-plans .standard-card {
  max-width: 611px;
  width: 100%;
  box-shadow: 0px 44px 74px 0px rgba(26, 21, 71, 0.0588235294), 0px 0px 24px 0px rgba(0, 0, 0, 0.0392156863);
}
.pricing-section .pricing-plans .standard-card .pricing-bg-element {
  left: -73px;
  bottom: -72px;
}
.pricing-section .pricing-plans .standard-card .standard-card-head {
  padding: 56px 40px 77px 46px;
}
.pricing-section .pricing-plans .standard-card .standard-card-head h3 {
  font-size: 48px;
  line-height: 108%;
  color: #1b1642;
}
.pricing-section .pricing-plans .standard-card .standard-card-head p {
  font-size: 18px;
  line-height: 160%;
  color: #1b1642;
  margin-top: 6px;
  max-width: 418px;
  width: 100%;
}
.pricing-section .pricing-plans .standard-card .standard-pricings .additional-fee,
.pricing-section .pricing-plans .standard-card .standard-pricings .rebalance,
.pricing-section .pricing-plans .standard-card .standard-pricings .support,
.pricing-section .pricing-plans .standard-card .standard-pricings .total-pricing {
  margin-inline: 62px 65px;
  border-top: 1px solid #eaf2fe;
}
.pricing-section .pricing-plans .standard-card .standard-pricings .additional-fee p,
.pricing-section .pricing-plans .standard-card .standard-pricings .rebalance p,
.pricing-section .pricing-plans .standard-card .standard-pricings .support p,
.pricing-section .pricing-plans .standard-card .standard-pricings .total-pricing p {
  font-size: 18px;
  line-height: 160%;
  color: #1b1642;
}
.pricing-section .pricing-plans .standard-card .standard-pricings .additional-fee, .pricing-section .pricing-plans .standard-card .standard-pricings .rebalance {
  padding-block: 20px 24px;
}
.pricing-section .pricing-plans .standard-card .standard-pricings .support {
  padding-block: 20px 75px;
}
.pricing-section .pricing-plans .standard-card .standard-pricings .total-pricing {
  margin-inline: 0;
  padding: 32px 63px 38px 39px;
}
.pricing-section .pricing-plans .standard-card .standard-pricings .total-pricing p {
  font-size: 48px;
  line-height: 107%;
  letter-spacing: -0.96px;
}
.pricing-section .pricing-plans .standard-card .standard-pricings .total-pricing p .currency {
  font-size: 23px;
  letter-spacing: normal;
  vertical-align: middle;
}
.pricing-section .pricing-plans .standard-card .standard-pricings .total-pricing p .duration {
  font-size: 28px;
  letter-spacing: -0.84px;
  vertical-align: middle;
}
.pricing-section .pricing-plans .standard-card .standard-pricings .total-pricing .btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #6658ea;
  --bs-btn-border-color: #6658ea;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4632c1;
  --bs-btn-hover-border-color: #3d2aaa;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #32208e;
  --bs-btn-active-border-color: #2a1b7e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6658ea;
  --bs-btn-disabled-border-color: #6658ea;
  font-weight: 500;
  font-size: 18px;
  border-radius: 8px 0;
  box-shadow: 0px 14px 24px 0px rgba(27, 22, 66, 0.0588235294), 0px 0px 6px 0px rgba(0, 0, 0, 0.031372549);
  letter-spacing: -0.18px;
  padding: 12.5px 28px;
}
.pricing-section .pricing-plans .professional-card {
  max-width: 541px;
  width: 100%;
  margin-block: 32px;
  box-shadow: 0px 44px 74px 0px rgba(26, 21, 71, 0.0588235294), 0px 0px 24px 0px rgba(0, 0, 0, 0.0392156863);
  background-color: #342e6c;
}
.pricing-section .pricing-plans .professional-card .professional-card-head {
  padding: 191px 8px 115px;
}
.pricing-section .pricing-plans .professional-card .professional-card-head h3 {
  font-size: 48px;
  color: #fff;
  line-height: 108%;
}
.pricing-section .pricing-plans .professional-card .professional-card-head p {
  max-width: 396px;
  width: 100%;
  margin-top: 9px;
  font-size: 18px;
  color: #fff;
  line-height: 160%;
  opacity: 0.8;
}
.pricing-section .pricing-plans .professional-card .professional-pricings {
  padding: 36px 68px 38px 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.0509803922);
}
.pricing-section .pricing-plans .professional-card .professional-pricings p {
  color: #fff;
  font-size: 48px;
  line-height: 107%;
  letter-spacing: -0.96px;
}
.pricing-section .pricing-plans .professional-card .professional-pricings p .currency {
  font-size: 23px;
  letter-spacing: normal;
  vertical-align: middle;
}
.pricing-section .pricing-plans .professional-card .professional-pricings p .duration {
  font-size: 28px;
  letter-spacing: -0.84px;
  vertical-align: middle;
}
.pricing-section .pricing-plans .professional-card .professional-pricings .btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #6658ea;
  --bs-btn-border-color: #6658ea;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4632c1;
  --bs-btn-hover-border-color: #3d2aaa;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #32208e;
  --bs-btn-active-border-color: #2a1b7e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6658ea;
  --bs-btn-disabled-border-color: #6658ea;
  font-weight: 500;
  font-size: 18px;
  border-radius: 8px 0;
  box-shadow: 0px 14px 24px 0px rgba(27, 22, 66, 0.0588235294), 0px 0px 6px 0px rgba(0, 0, 0, 0.031372549);
  letter-spacing: -0.18px;
  padding: 12.5px 28px;
}

.try-section {
  max-width: 1920px;
  width: 100%;
  margin-inline: auto;
}
.try-section .try-content {
  padding: 216px 351px 272px 345px;
}
.try-section .try-content .sub-head {
  font-size: 14px;
  letter-spacing: 2.52px;
  color: #6658ea;
  padding-bottom: 8px;
}
.try-section .try-content h2 {
  font-size: 82px;
  color: #1b1642;
  padding-bottom: 14px;
}
.try-section .try-content .content {
  font-size: 18px;
  color: #1b1642;
  max-width: 558px;
  padding-bottom: 36px;
}
.try-section .try-content .btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #6658ea;
  --bs-btn-border-color: #6658ea;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4632c1;
  --bs-btn-hover-border-color: #3d2aaa;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #32208e;
  --bs-btn-active-border-color: #2a1b7e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6658ea;
  --bs-btn-disabled-border-color: #6658ea;
  font-weight: 500;
  font-size: 18px;
  border-radius: 8px 0;
  box-shadow: 0px 14px 24px 0px rgba(27, 22, 66, 0.0588235294), 0px 0px 6px 0px rgba(0, 0, 0, 0.031372549);
  letter-spacing: -0.18px;
  padding: 12.5px 28px;
}

.custom-border {
  height: 5px;
  background: linear-gradient(to right, #575a7b 20%, #f9655b 20% 40%, #ffc267 40% 60%, #6658ea 60% 80%, #ffcccc 80% 100%);
}

.footer-full-width-background {
  background-color: #1b1642;
  width: 100%;
}
.footer-full-width-background footer {
  max-width: 1920px;
  width: 100%;
  margin-inline: auto;
  padding: 101px 208px 129px 166px;
  background-color: #1b1642;
  color: #fff;
}
.footer-full-width-background footer .footer-bg-element {
  top: -184px;
  right: 0;
}
.footer-full-width-background footer .company-details h2 {
  font-size: 24px;
}
.footer-full-width-background footer .company-details p {
  font-size: 18px;
  opacity: 0.6;
}
.footer-full-width-background footer .foot-links .products {
  padding-left: 84px;
}
.footer-full-width-background footer .foot-links .services-1 {
  padding-left: 104px;
}
.footer-full-width-background footer .foot-links .connect {
  padding-left: 84px;
}
.footer-full-width-background footer .foot-links ul {
  list-style-type: none;
}
.footer-full-width-background footer .foot-links ul .head {
  font-size: 14px;
  opacity: 1;
  padding-bottom: 23px;
}
.footer-full-width-background footer .foot-links ul li {
  font-size: 18px;
  opacity: 0.6;
  cursor: pointer;
  padding-bottom: 16px;
}

@media screen and (max-width: 1400px) {
  .hero-full-width-background .hero-section {
    padding: 80px 0 285px 110px;
  }
  .hero-full-width-background .hero-section .hero-content {
    padding-block: 110px 40px;
  }
  .hero-full-width-background .hero-section .hero-content h1 {
    font-size: 56px;
  }
  .hero-full-width-background .hero-section .hero-content p {
    max-width: 406px;
    font-size: 18px;
    line-height: 30px;
  }
  .hero-full-width-background .hero-section .hero-content .btn-container {
    margin-top: 31px;
  }
  .hero-full-width-background .hero-section .hero-content .btn-container .btn {
    font-size: 16px;
  }
  .hero-full-width-background .hero-section .hero-background {
    max-width: 830px;
  }
  .invest-section {
    margin-top: -300px;
  }
  .invest-section .invest-content {
    padding: 55px 65px 35px 134px;
  }
  .invest-section .invest-content h2 {
    font-size: 44px;
    max-width: 384px;
  }
  .invest-section .invest-content .list-group {
    gap: 45px;
  }
  .invest-section .revenue-card-section {
    margin-left: 120px;
  }
  .invest-section .revenue-card-section .revenue-card .value {
    font-size: 44px;
  }
  .pricing-section {
    margin-inline: 110px 115px;
  }
  .pricing-section .pricing-head h2 {
    font-size: 56px;
  }
  .pricing-section .pricing-plans .standard-card {
    max-width: 550px;
  }
  .pricing-section .pricing-plans .standard-card .standard-card-head {
    padding-bottom: 56px;
  }
  .pricing-section .pricing-plans .standard-card .standard-card-head h3 {
    font-size: 44px;
  }
  .pricing-section .pricing-plans .standard-card .standard-pricings .support {
    padding-bottom: 70px;
  }
  .pricing-section .pricing-plans .standard-card .standard-pricings .total-pricing {
    padding-bottom: 51px;
  }
  .pricing-section .pricing-plans .standard-card .standard-pricings .total-pricing p {
    font-size: 44px;
  }
  .pricing-section .pricing-plans .professional-card {
    margin-block: 25px;
    max-width: 450px;
  }
  .pricing-section .pricing-plans .professional-card .professional-card-head h3 {
    font-size: 44px;
  }
  .pricing-section .pricing-plans .professional-card .professional-pricings p {
    font-size: 44px;
  }
  .try-section .try-content {
    padding: 180px 290px 230px 290px;
  }
  .footer-full-width-background footer {
    padding: 80px 180px 110px 140px;
  }
  .footer-full-width-background footer .foot-links .products {
    padding-left: 70px;
  }
  .footer-full-width-background footer .foot-links .services-1 {
    padding-left: 90px;
  }
  .footer-full-width-background footer .foot-links .connect {
    padding-left: 70px;
  }
}
@media screen and (max-width: 1200px) {
  .hero-full-width-background .hero-section {
    padding: 80px 0 250px 70px;
  }
  .hero-full-width-background .hero-section .hero-content {
    padding-block: 85px 40px;
  }
  .hero-full-width-background .hero-section .hero-content h1 {
    max-width: 442px;
    font-size: 48px;
  }
  .hero-full-width-background .hero-section .hero-content .btn-container {
    margin-top: 25px;
  }
  .hero-full-width-background .hero-section .hero-content .btn-container .btn {
    padding: 10.5px 25px;
  }
  .hero-full-width-background .hero-section .hero-background {
    max-width: 720px;
  }
  .invest-section .revenue-card-section {
    margin-left: 100px;
    max-width: 400px;
    width: 100%;
  }
  .invest-section .revenue-card-section .revenue-card .value {
    font-size: 40px;
  }
  .invest-section .revenue-card-section .revenue-card .annual-revenue {
    padding-top: 40px;
  }
  .invest-section .revenue-card-section .revenue-card .annual-revenue,
  .invest-section .revenue-card-section .revenue-card .losses {
    margin-inline: 40px 38px;
  }
  .invest-section .revenue-card-section .revenue-card .annual-revenue .sub-head,
  .invest-section .revenue-card-section .revenue-card .losses .sub-head {
    padding-bottom: 18px;
  }
  .invest-section .revenue-card-section .revenue-card .losses-using-goodkit {
    padding: 27px 60px 40px 40px;
  }
  .invest-section .invest-content {
    padding: 50px 50px 22px 60px;
  }
  .invest-section .invest-content h2 {
    font-size: 40px;
  }
  .pricing-section {
    margin-inline: 80px 85px;
  }
  .pricing-section .pricing-head h2 {
    font-size: 48px;
    margin-top: 62px;
  }
  .pricing-section .pricing-plans .standard-card {
    max-width: 485px;
  }
  .pricing-section .pricing-plans .standard-card .standard-card-head h3 {
    font-size: 40px;
  }
  .pricing-section .pricing-plans .standard-card .standard-pricings .total-pricing p {
    font-size: 40px;
  }
  .pricing-section .pricing-plans .professional-card {
    margin-block: 47px;
    max-width: 390px;
  }
  .pricing-section .pricing-plans .professional-card .professional-card-head h3 {
    font-size: 40px;
  }
  .pricing-section .pricing-plans .professional-card .professional-pricings {
    padding-inline: 35px;
  }
  .pricing-section .pricing-plans .professional-card .professional-pricings p {
    font-size: 40px;
  }
  .try-section .try-content {
    padding: 150px 234px 200px 234px;
  }
  .footer-full-width-background footer {
    padding: 70px 100px 100px 90px;
  }
  .footer-full-width-background footer .foot-links .products {
    padding-left: 60px;
  }
  .footer-full-width-background footer .foot-links .services-1 {
    padding-left: 60px;
  }
  .footer-full-width-background footer .foot-links .connect {
    padding-left: 60px;
  }
}
@media screen and (max-width: 992px) {
  .hero-full-width-background {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 93%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 93%, 0% 100%);
  }
  .hero-full-width-background .hero-section {
    padding: 0 0 300px;
  }
  .hero-full-width-background .hero-section .hero-content {
    margin-inline: auto;
    padding: 50px 0 0;
  }
  .hero-full-width-background .hero-section .hero-content h1 {
    text-align: center;
  }
  .hero-full-width-background .hero-section .hero-content h1 span {
    position: relative;
    text-decoration: none;
  }
  .hero-full-width-background .hero-section .hero-content h1 span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 100%;
    height: 7px;
    background-color: rgba(102, 88, 234, 0.2);
    z-index: -1;
  }
  .hero-full-width-background .hero-section .hero-content p {
    text-align: center;
  }
  .invest-section {
    margin-top: -250px;
    padding-top: 100px;
    align-items: center;
  }
  .invest-section .revenue-card-section {
    margin-left: 0;
    margin-inline: auto;
  }
  .invest-section .revenue-card-section .revenue-card .plus-bg-element {
    left: 0;
    transform: translateX(22%);
  }
  .invest-section .invest-content {
    padding: 0;
    margin-inline: auto;
    max-width: 350px;
    width: 100%;
    padding-top: 50px;
  }
  .invest-section .invest-content .list-group {
    gap: 40px;
  }
  .pricing-section {
    margin-inline: auto;
  }
  .pricing-section .pricing-plans {
    align-items: center;
  }
  .pricing-section .pricing-plans .standard-card, .pricing-section .pricing-plans .professional-card {
    max-width: 500px;
  }
  .pricing-section .pricing-plans .standard-card .pricing-bg-element {
    left: -68px;
    bottom: -97px;
  }
  .pricing-section .pricing-plans .professional-card {
    margin-bottom: 0;
    margin-top: 30px;
  }
  .try-section .try-content {
    padding: 130px 200px 200px 190px;
  }
  .try-section .try-content h2 {
    font-size: 48px;
  }
  .try-section .try-content .content {
    max-width: 352px;
    width: 100%;
  }
  .header nav {
    padding-block: 15px !important;
  }
  .header nav .navbar-nav {
    padding-block: 25px;
  }
  .footer-full-width-background footer {
    row-gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .try-section .try-content {
    padding: 100px 105px 200px 105px;
  }
  .footer-full-width-background footer {
    padding: 70px 24px;
  }
  .footer-full-width-background footer .foot-links ul li {
    font-size: 16px;
  }
  .footer-full-width-background footer .foot-links .products,
  .footer-full-width-background footer .foot-links .services-1,
  .footer-full-width-background footer .foot-links .connect {
    padding-left: 55px;
  }
}
@media screen and (max-width: 568px) {
  .hero-full-width-background .hero-section {
    padding: 0 0 250px;
  }
  .hero-full-width-background .hero-section .hero-content h1 {
    font-size: 40px;
    padding-inline: 16px;
  }
  .hero-full-width-background .hero-section .hero-content p {
    padding-inline: 21px 29px;
    margin-top: 13px;
  }
  .hero-full-width-background .hero-section .hero-content .btn-container {
    padding-inline: 14px;
    flex-wrap: wrap;
  }
  .invest-section {
    margin-top: -175px;
  }
  .invest-section .revenue-card-section {
    padding-inline: 24px;
    max-width: 399px;
    width: 100%;
  }
  .invest-section .revenue-card-section .revenue-card .value {
    font-size: 36px;
  }
  .invest-section .revenue-card-section .revenue-card .annual-revenue .sub-head,
  .invest-section .revenue-card-section .revenue-card .losses .sub-head {
    padding-bottom: 17px;
  }
  .invest-section .revenue-card-section .revenue-card .annual-revenue {
    padding-top: 38px;
  }
  .invest-section .revenue-card-section .revenue-card .losses-using-goodkit {
    padding-bottom: 38px;
  }
  .invest-section .revenue-card-section .revenue-card .plus-bg-element {
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
  .invest-section .invest-content {
    padding-inline: 27px 24px;
    max-width: 398px;
    width: 100%;
  }
  .invest-section .invest-content h2 {
    font-size: 36px;
  }
  .invest-section .invest-content .list-group {
    gap: 39px;
    flex-wrap: wrap;
    row-gap: 15px;
  }
  .invest-section .invest-content .list-group ul li:nth-child(2) {
    padding-top: 15px;
  }
  .pricing-section .pricing-head h2 {
    margin-inline: auto;
    max-width: 352px;
    font-size: 40px;
    margin-top: 54px;
  }
  .pricing-section .pricing-head h2 span {
    position: relative;
    text-decoration: none;
  }
  .pricing-section .pricing-head h2 span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 10px;
    background-color: rgba(102, 88, 234, 0.2);
    z-index: -1;
  }
  .pricing-section .pricing-head p {
    max-width: 400px;
    margin-top: 18px;
    padding-inline: 25px;
  }
  .pricing-section .pricing-plans {
    margin-top: 35px;
    max-width: 400px;
    padding-inline: 24px;
  }
  .pricing-section .pricing-plans .standard-card, .pricing-section .pricing-plans .professional-card {
    max-width: 100%;
  }
  .pricing-section .pricing-plans .standard-card .standard-card-head {
    padding: 32px 24px 42px;
  }
  .pricing-section .pricing-plans .standard-card .standard-card-head h3 {
    font-size: 36px;
  }
  .pricing-section .pricing-plans .standard-card .standard-pricings .additional-fee, .pricing-section .pricing-plans .standard-card .standard-pricings .rebalance, .pricing-section .pricing-plans .standard-card .standard-pricings .support, .pricing-section .pricing-plans .standard-card .standard-pricings .total-pricing {
    flex-wrap: wrap;
  }
  .pricing-section .pricing-plans .standard-card .standard-pricings .additional-fee, .pricing-section .pricing-plans .standard-card .standard-pricings .rebalance, .pricing-section .pricing-plans .standard-card .standard-pricings .support {
    margin-left: 24px;
    padding-right: 118px;
    margin-right: 0;
  }
  .pricing-section .pricing-plans .standard-card .standard-pricings .support {
    -moz-column-gap: 38px;
         column-gap: 38px;
    padding-bottom: 22px;
  }
  .pricing-section .pricing-plans .standard-card .standard-pricings .total-pricing {
    padding: 25px 31px 36px 28px;
    -moz-column-gap: 41px;
         column-gap: 41px;
    row-gap: 23px;
    justify-content: center !important;
  }
  .pricing-section .pricing-plans .standard-card .standard-pricings .total-pricing p {
    font-size: 36px;
  }
  .pricing-section .pricing-plans .standard-card .standard-pricings .total-pricing p .currency {
    font-size: 20px;
  }
  .pricing-section .pricing-plans .standard-card .standard-pricings .total-pricing p .duration {
    font-size: 24px;
  }
  .pricing-section .pricing-plans .standard-card .standard-pricings .total-pricing .btn-primary {
    width: 100%;
  }
  .pricing-section .pricing-plans .professional-card .professional-card-head {
    padding: 45px 24px 51px;
  }
  .pricing-section .pricing-plans .professional-card .professional-card-head h3 {
    font-size: 36px;
  }
  .pricing-section .pricing-plans .professional-card .professional-card-head p {
    margin-top: 22px;
  }
  .pricing-section .pricing-plans .professional-card .professional-pricings {
    padding: 27px 33px 37px 26px;
    justify-content: center !important;
    flex-wrap: wrap;
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 18px;
  }
  .pricing-section .pricing-plans .professional-card .professional-pricings p {
    font-size: 36px;
  }
  .pricing-section .pricing-plans .professional-card .professional-pricings p .currency {
    font-size: 20px;
  }
  .pricing-section .pricing-plans .professional-card .professional-pricings p .duration {
    font-size: 24px;
  }
  .pricing-section .pricing-plans .professional-card .professional-pricings .btn-primary {
    width: 100%;
  }
  .try-section .try-content {
    padding: 100px 22px 322px 24px;
  }
  .footer-full-width-background footer {
    width: 100%;
  }
  .footer-full-width-background footer .footer-bg-element {
    display: none !important;
  }
  .footer-full-width-background footer .footer-mobile-bg-element {
    display: block !important;
    top: -161px;
    right: 0;
  }
  .footer-full-width-background footer .footer-mobile-pattern {
    display: block !important;
    top: -231px;
    right: 49px;
  }
  .footer-full-width-background footer .foot-links {
    justify-content: start;
    flex-wrap: wrap;
    -moz-column-gap: 25px;
         column-gap: 25px;
    row-gap: 10px;
  }
  .footer-full-width-background footer .foot-links .products,
  .footer-full-width-background footer .foot-links .services-1,
  .footer-full-width-background footer .foot-links .connect {
    padding-left: 0;
  }
}